.MainView {
    transition: all 0.35s ease-in-out;
    color: white;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.MainView.morning {
    background-color: var(--morning-color);
    color: var(--evening-color);
}

.MainView.day {
    background-color: var(--day-color);
}

.MainView.evening {
    background-color: var(--evening-color);
}

.MainView.night {
    background-color: var(--night-color);
}

.today {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    text-align: center;
}

.today .city {
    font-size: 30px;
}

.today .temp {
    display: inline-block;
    font-size: 85px;
}

.today .temp .icon {
    display: inline-block;
    vertical-align: middle;
    height: 54px;
    font-size: 54px;
    line-height: 54px;
    color: var(--weather-icon-color);
    margin-right: 20px;
}

.today .temp .value {
    vertical-align: middle;
    white-space: nowrap;
}

.today .description {
    font-size: 20px;
    margin-bottom: 30px;
}

.today .other {
    padding: 0 20%;
    display: flex;
    justify-content: center;
}

.today .section {
    border-top: 2px solid var(--border-color);
    width: 20%;
    text-align: left;
    margin: 40px 2.5%;
    padding: 10px;
    white-space: nowrap;
}

.today .section .title {
    margin-top: 24px;
    margin-bottom: 16px;
}

.today .section .wi {
    margin-right: 10px;
    font-size: 30px;
    vertical-align: middle;
}

.today .section .value {

}

/* thunderstorm, lightning */
.code-200,
.code-201,
.code-202,
.code-210,
.code-211,
.code-212,
.code-221,
.code-230,
.code-231,
.code-232 {
    background-image: url('../Assets/bg/thunderstorm-lightning.png');
}

/* rain, sprinkle, rain-mix */
.code-300,
.code-301,
.code-302,
.code-310,
.code-311,
.code-312,
.code-313,
.code-314,
.code-321,
.code-500,
.code-501,
.code-502,
.code-503,
.code-504,
.code-511,
.code-612,
.code-615,
.code-616,
.code-620,
.code-520,
.code-521,
.code-522,
.code-701 {
    background-image: url('../Assets/bg/rain.png');
}

/* storm-showers */
.code-531,
.code-901,
.code-902 {
    background-image: url('../Assets/bg/storm.png');
    background-color: var(--night-color) !important;
}

/* snow, sleet */
.code-600,
.code-601,
.code-602,
.code-601,
.code-621,
.code-622,
.code-903 {
    background-image: url('../Assets/bg/snow.png');
}

/* smoke, fog */
.code-711,
.code-721,
.code-741 {
    background-image: url('../Assets/bg/fog.png');
}

/* dust */
.code-731,
.code-761,
.code-762 {
    background-image: url('../Assets/bg/dust.png');
}

/* cloudy-gusts */
.code-771,
.code-801,
.code-802,
.code-803,
.code-804 {
    background-image: url('../Assets/bg/clouds.png');
}

/* tornado */
.code-781,
.code-900 {
    background-image: url('../Assets/bg/tornado.png');
    background-color: var(--night-color) !important;
}

/* day-sunny */
.code-800 {
    background-image: url('../Assets/bg/sunny.png');
}

/* hot */
.code-904 {
    background-image: url('../Assets/bg/hot.png');
}

/* windy */
.code-905,
.code-957 {
    background-image: url('../Assets/bg/wind.png');
}

/* hail */
.code-906 {
    background-image: url('../Assets/bg/hail.png');
}

@media (max-width: 500px) {
    .today .other {
        flex-direction: column;
    }

    .today .section {
        width: 100%;
        text-align: center;
    }
}